.box {
  display: flex;
  justify-content: center;
  .ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .item {
      margin:0 1rem;
      list-style-type: none;
      background: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 6px;
      box-shadow: 0 2px 11px 2px #424141;
      cursor: pointer;
    }
    .active{
      background: #ea5454;
    }
    .item:last-child {
      margin-right: 1rem;
    }
    .arrow{
        cursor: pointer;
    }
    .arrow:active {
      color: #fff;
    }
  }
}
